In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [21]:
data=pd.read_csv("train.csv")

In [22]:
datab=data[['PassengerId','Survived','Pclass','Sex','Age','SibSp']]

In [23]:
datab.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp
0            1         0       3   -1  22.0      1
1            2         1       1    1  38.0      1
2            3         1       3    1  26.0      0
3            4         1       1    1  35.0      1
4            5         0       3   -1  35.0      0

In [24]:
data=datab.dropna()

In [25]:
data.head(10)

    PassengerId  Survived  Pclass  Sex   Age  SibSp
0             1         0       3   -1  22.0      1
1             2         1       1    1  38.0      1
2             3         1       3    1  26.0      0
3             4         1       1    1  35.0      1
4             5         0       3   -1  35.0      0
6             7         0       1   -1  54.0      0
7             8         0       3   -1   2.0      3
8             9         1       3    1  27.0      0
9            10         1       2    1  14.0      1
10           11         1       3    1   4.0      1

In [42]:
X=np.array(data[['Pclass','Sex','Age','SibSp']]).reshape(-1,4)
Y=np.array(data['Survived']).reshape(-1,1)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)
regr=LogisticRegression()
regr.fit(X_train,y_train)
print(regr.score(X_test,y_test))

0.8531468531468531

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [64]:
testd=pd.read_csv("test.csv")
tes=testd[['PassengerId','Pclass','Sex','Age','SibSp']]
x = tes["Age"].mode()[0]
tes["Age"].fillna(x, inplace = True)

In [72]:
tes

TypeError: 'tuple' object is not callable

In [65]:
W=np.array(tes[['Pclass','Sex','Age','SibSp']]).reshape(-1,4)

In [66]:
np.shape(W)

(418, 4)

In [67]:
a=regr.predict(W)

In [68]:
print(type(a))

<class 'numpy.ndarray'>

In [69]:
np.shape(a)

(418,)

In [70]:
exp=pd.DataFrame(a)

In [73]:
exp.to_csv("result.csv")